{% block content %}
{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {%block head %}
    <title>Login</title>
    {% endblock %}
    <link rel="stylesheet"  href="{% static 'css/login.css' %}">  
     <link rel="icon" href= "{% static 'img/logo1.png' %}" >  

</head>
<body>
    <div class="login">
        <div>
        {% if messages %}
            {% for message in messages %}
            <div>{{message}}</div>
            {%endfor%}
        {% endif %} 
    </div>   
        
        <form method="POST" >{% csrf_token %}
            <h1>LOGIN</h1><br>
            <label for="username" class="content">Username:</label><br>
            <input type="text"id="username" name="username" class="box"><br>
            <label for="password"class="content">Password:</label><br>
            <input type="password"id="password" name="password"class="box"><br>
            <button type="submit" class="btn">Login</button>
        </form>
    </div>
    
</body>
</html>
{% endblock %}