{% block content %}
{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {%block head %}
    <title>Register</title>
    {% endblock %}
    <link rel="stylesheet"  href="{% static 'css/register.css' %}"> 
     <link rel="icon" href= "{% static 'img/logo1.png' %}" >  

</head>
<body>
    <div class="register">
        {% if error_message%}
        <p>{{error_message}}</p>
        {% endif %}
        
        <form method="POST" >{% csrf_token %}
            <h1>Register</h1><br>
            <label for="username" class="content">Username:</label><br>
            <input type="text"id="username" name="username" class="box"><br>
            <label for="password"class="content">Password:</label><br>
            <input type="password"id="password" name="password"class="box"><br>
            <label for="email"class="content">Email:</label><br>
            <input type="text"id="password" name="email"class="box"><br>
            <label for="mobilenumber"class="content">Mobilenumber:</label><br>
            <input type="text"id="password" name="mobilenumber"class="box"><br>
            <button type="submit" class="btn">Register</button>
        </form>
    </div>
    
</body>
</html>
{% endblock %}